<!DOCTYPE html>
<html>
<head>
	<%- include('../../../../../unit/layout/header.html') %>
	<title>拼大牌</title>
</head>
<body>
	<section class="new-arrival" id="J_new-arrival"></section>
	<section class="flash-sale" >
		<div class="header-title"></div>
		<div class="flash-sale-cont" id="J_flash-sale-cont"></div>
	</section>
	<%- include('../../../../../unit/common/widget/pintuan/muiLoading/muiLoading.html') %>
	
	<script type="text/javascript" src="/mpt_static/libs/zepto.min.js"></script>
</body>
</html>