<!DOCTYPE html>
<html>
<head>
    <%- include('../../../../../../unit/layout/header.html' )%>
    <meta name="wap-font-scale" content="no">
    <title>免费试用</title>
</head>

<body>
    <!--大牌精选(头部广告)550x420-->
    <section id="J_dpjx" class="dpjx">
        <div class="title-line"></div>
        <div class="title-line line2"></div>
        <div class="title">
            <span class="row1">大牌精选</span><br>
            <span class="row2">BRAND SELECTED</span>
        </div>
    </section>
    <!--中奖消息-->
    <section id="J_noticeContainer" class="notice-container">

    </section>
    <section class="divider">

    </section>
    <!--必得试用(中间广告)750x200-->
    <section id="J_middleAds" class="middleAds"></section>
    <section id="J_list"></section>

    <!--底部导航-->
    <%- include('../../../../../../unit/common/widget/pintuan/fixedFooter/fixedFooter.html', {tabIndex:0}) %>
    <!-- loading  -->
    <%- include('../../../../../../unit/common/widget/pintuan/muiLoading/muiLoading.html') %>

    <input type="hidden" value='{"platform": "qq_qzone_weixin_timeline_weibo_copy","title":"【免费试用】一个好汉三个帮，还有免费等你领","desc": "[赠人玫瑰，手有余香]赶快邀请小伙伴一起申请免费试用吧！","image": "https://h0.hucdn.com/open/201620/1463732877_65fb6a0901caab59_100x100.png","url":"http://m.beibei.com/gaea_pt/mpt/group/0ysy/index.html","callback":"callback()"}' id="app_share_conf">
    <!--内容模板----------------------------------------------------------------------------------------------------------------------------->
    <!--  大牌精选 -->
    <script id="tmpl-dpjx" type="text/template">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {@each _ as item}
                <a class="swiper-slide swiper-lazy itemAds" data-background="${item.img}" href="${item.target}" alt="${item.title}" data-title="免费试用头部广告-${item.title}"></a>
                {@/each}
            </div>
            <div class="swiper-pagination {@if _.length < 2}hidden{@/if}"></div>
        </div>
    </script>

    <!--中间广告(必得试用)-->
    <script id="tmpl-middleAds" type="text/template">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {@each _ as item}
                    <a class="swiper-slide swiper-lazy itemAds" data-background="${item.img}" href="${item.target}" alt="${item.title}" data-title="免费试用中间广告-${item.title}"></a>
                {@/each}
            </div>
            <div class="swiper-pagination {@if _.length < 2}hidden{@/if}"></div>
        </div>
    </script>

    <!-- gaea preload start -->
    <%- include('../../../../common/gaea/preload.html',{
        id: 'getAdsFromGaea',
        url: 'http://sapi.beibei.com/resource/h5-ads-53_54.html'
    })%>
    <%- include('../../../../common/gaea/preload.html',{
        id: 'getNoticeFromGaea',
        url: 'http://sapi.beibei.com/fightgroup/free_trial_notice/1-50.html'
    })%>
    <%- include('../../../../common/gaea/preload.html',{
        id: 'getTryItemListFromGaea',
        url: 'http://sapi.beibei.com/fightgroup/free_trial/1-200.html'
    })%>
    <!-- gaea preload end -->

    <script type="text/javascript" src="/mpt_static/libs/zepto.min.js"></script>
</body>

</html>
