<!DOCTYPE html>
<html>

<head>
    <title>我的验证码</title>
    <%- include('/unit/layout/header.html')%>
</head>

<body>
    <!-- loading -->
    <%- include ../../../../../unit/common/widget/pintuan/muiLoading/muiLoading.html %>
    <div class="pt-logo">
        <img class="icon-logo" src="//h0.hucdn.com/open/201642/e399392f39ddfe25_120x120.png">
        <img class="icon-tip" src="//h0.hucdn.com/open/201642/a05aae98dd99395a_320x100.png">
    </div>
    <div class="pop-container"></div>
    <script type="text/javascript" src="/mpt_static/libs/zepto.min.js"></script>
</body>

</html>
