<!DOCTYPE html>
<html>
<head>
	<%- include('../../../../../unit/layout/header.html') %>
	<title>每日抽奖</title>
</head>
<body>
	<img class="title-img" src="//h0.hucdn.com/open/201641/b62d25ec741f5c9c_750x450.png">

	<!--中奖消息-->
    <section id="J_noticeContainer" class="notice-container"></section>
    <section class="divider"></section>
    <div class="J_container"></div>
    <!-- loading  -->
    <%- include('../../../../../unit/common/widget/pintuan/muiLoading/muiLoading.html') %>

    <!-- gaea preload start -->
    <%- include('../../../common/gaea/preload.html',{
        id: 'getAwardNoticeFromGaea',
        url: 'http://sapi.beibei.com/fightgroup/award_notice/1-50.html'
    })%>
    <%- include('../../../common/gaea/preload.html',{
        id: 'getTryItemListFromGaea',
        url: 'http://sapi.beibei.com/fightgroup/trial/1-200-0.html'
    })%>
    <!-- gaea preload end -->

	<script type="text/javascript" src="/mpt_static/libs/zepto.min.js"></script>
</body>
</html>
