<!DOCTYPE html>
<html>

<head>
    <%- include('../../../../../../unit/layout/header.html' )%>
    <title>我的试用</title>
</head>

<body>
	<section class="tab-container" id="J_tab-container"></section>
	<section class="eff-cont">
	    <div class="no-item-tip" id="J_no-item-tip">
	        <div class="back"></div>
	        <p class="tip"></p>
	        <a href='/gaea_pt/mpt/group/0ysy/index.html'>逛逛今日试用</a>
	    </div>
	    <div class="group-list-cont" id="J_group-list-cont">
	        <!-- 全部 -->
	        <ul class="J_group-list"></ul>
	        <!-- 申请中 -->
	        <ul class="J_group-list"></ul>
	        <!-- 申请成功 -->
	        <ul class="J_group-list"></ul>
	        <!-- 申请失败 -->
	        <ul class="J_group-list"></ul>
	    </div>
	    <div class="spinner" id="J_spinner">
	        <div class="bounce1"></div>
	        <div class="bounce2"></div>
	        <div class="bounce3"></div>
	    </div>
	</section>

	<!--底部导航-->
	<%- include('../../../../../../unit/common/widget/pintuan/fixedFooter/fixedFooter.html', {tabIndex:1}) %>
	<!-- loading  -->
	<%- include('../../../../../../unit/common/widget/pintuan/muiLoading/muiLoading.html') %>
	
	<%- include('../../../../../../demo/mpt/group/unit/bindDialog.html') %>

	<script type="text/template" id="J_list-tpl">
	    {@each trial_items as item, index}
	    <li>
	        <a href='${item.url}' class="info">
	        	<div class="img-cnt">
                	<img data-src=${item.img} use-lazyload src="//b0.hucdn.com/img/h5/spaceball.gif" alt="${index}"/>
	        	</div>
	        	<div class="info-cnt">
        		    <p class="title">${item.title}</p>
        		    <p class="join">${item.join_num}人已申请</p>
        		    <p class="value">价值<em>&nbsp;&yen;${item.origin_price}</em></p>
        		    <p class="time">
        		    	{@if item.biz_status == 0}
        		    	开奖时间&nbsp;${item.lottery_date}&nbsp;${item.lottery_time}
        		    	{@else if item.isEnded}
        				${item.lottery_date}&nbsp;${item.lottery_time}&nbsp;已开奖
        		    	{@/if}
        		    </p>
	        	</div>
	        </a>
	        <div class="operate">
	            <div class="left">
	            	{@if item.biz_status == 0}
		                {@if item.group_status == 2 && item.member_num_left}
		                待成团，还差<em>${item.member_num_left}</em>人
		                {@else if item.group_status == 1}
		                拼团成功，等待开奖
		                {@/if}
		            {@/if}
	            </div>
	            <div class="btn-area">
	                {@if item.biz_status == 0}
	                	{@if item.group_status == 1}
	                	<a class="btn" href='${item.url}'>拼团详情</a>
	                	{@else if item.group_status == 2}
	                	<a class="btn btn-pink" href='${item.share_url}'>喊人参团</a>
	                	{@/if}
                	<div class="status status-apply"></div>
                	{@else}
		                {@if item.biz_status == 1}
	                	<a class="btn" href='/orders/order-detail.html?oid=${item.oid}&beibeiapp_info={"target":"bb/trade/order_detail", "oid":"${item.oid}"}'>查看订单</a>
		                <div class="status status-success"></div>
		                {@else if item.biz_status == 2}
	                    	{@if item.isEnded}
	    	                <a class="btn" href='/mpt/group/0ysy/list.html?iid=${item.iid}&beibeiapp_info={"target":"bb/pintuan/winner_list","type":2,"iid":${item.iid}}'>开奖详情</a>
	    	                {@/if}
							<a class="btn" href='${item.url}'>拼团详情</a>
			                <div class="status status-fail"></div>
	                	{@/if}
	                {@/if}
	            </div>
	        </div>
	    </li>
	    {@/each}
	</script>

    <script type="text/javascript" src="/mpt_static/libs/zepto.min.js"></script>
</body>

</html>
