<!DOCTYPE html>
<html>
<head>
    <%- include('../../../../../unit/layout/header.html') %>
    <title>红包狂欢</title>
</head>
<body>
    <div class="tip">一大批红包疯狂来袭，快来拼团拼人气吧</div>
    <div class="J_container"></div>
    <%- include('../../../../../demo/mpt/group/unit/item-list-1.html') %>
    <%- include('../../../../../unit/common/widget/pintuan/muiLoading/muiLoading.html') %>

    <%- include('../../../common/gaea/preload.html',{
        id: 'getTryItemListFromGaea',
        url: 'http://sapi.beibei.com/fightgroup/trial/1-200-1.html'
    })%>
    <script type="text/javascript" src="/mpt_static/libs/zepto.min.js"></script>
</body>
</html>
