<!DOCTYPE html>
<html>
<head>
    <%- include('../../../../../unit/layout/header.html') %>
    <title>1元抢购</title>
</head>
<body>
    <div class="J_container"></div>

    <!-- loading  -->
    <%- include('../../../../../unit/common/widget/pintuan/muiLoading/muiLoading.html') %>
    
    <%- include('../../../common/gaea/preload.html',{
        id: 'getSeckillFromGaea',
        url: 'http://sapi.beibei.com/item/fightgroup/1-300-oneyuan_group-.html'
    })%>
    <script type="text/javascript" src="/mpt_static/libs/zepto.min.js"></script>
</body>
</html>