<!DOCTYPE html>
<html>
    <head>
        <%- include('../../../../../unit/layout/header.html') %>
	    <title>选择省份</title>
    </head>
    <body>
    	<div class="loc-province">
    		<div class="f-letter">定位省份</div>
    		<div class="province J_loc-address">
    			<span class="p-border J_p-success">正在定位...</span>
    			<span class="p-fail J_p-fail hidden">定位失败，请选择您的省份</span>
    		</div>
    	</div>
    	<div class="cur-province">
    		<div class="f-letter">当前省份</div>
    		<div class="province J_cur_p"><span class="p-border J_cur">江苏</span></div>
    	</div>
    	<section class="" id="J_province-selector"></section>
        
    	<!-- loading  -->
        <%- include('../../../../../unit/common/widget/pintuan/muiLoading/muiLoading.html') %>
		
    	<script type="text/javascript" src="/mpt_static/libs/zepto.min.js"></script>
    </body>
</html>