<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>获取链接</title>
    </head>
    <body>
        <div class="container" id="app">
            <div class="section group-section">
                <h5>生成承接页链接，支持批量操作，使用英文分号 ; 分割</h5>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="填写团的码 group_code" v-model="inputGroupCodeStr" type="text" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        APP里链接（跳转到原生页面）：
                    </div>
                    <div class="col s8">
                        {{{app_home_url}}}
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        微信里的H5团、APP里的免费使用、伙拼团链接：
                    </div>
                    <div class="col s8">
                        {{{h5_home_url}}}
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="section detail-section">
                <h5>生成商品详情页链接，支持批量操作，使用英文分号 ; 分割</h5>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="填写商品iid" v-model="inputIidStr" type="text" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        APP里的商品详情链接（跳转到原生页面）：
                    </div>
                    <div class="col s8">
                        {{{app_detail_url}}}
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        微信里的H5商品详情、APP里的免费使用、伙拼商品详情链接：
                    </div>
                    <div class="col s8">
                        {{{h5_detail_url}}}
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="/mpt_static/libs/zepto.min.js"></script>
            <script type="text/javascript" src="/mpt_static/libs/vue.min.js"></script>
        </body>
    </html>