
<!DOCTYPE html>
<html>
<head>
    <%- include('../../../../../unit/layout/header.html') %>
    <title>贝贝支付完成</title>
</head>
<body>

<section class="wrapper">
    <!-- details container -->
    <div id="J_container-details"></div>
    <!-- /details container -->

    <!-- coupon container -->
    <div id="J_container-coupon"></div>
    <!-- /coupon container -->

    <section id="J_nav_menu" class="nav_menu"></section>
    <section id="J_container-mores"></section>

    <!-- steps container -->
    <div id="J_container-steps"></div>
    <!-- /steps container -->

    <!-- masks -->
    <div id="J_container-masks"></div>
    <!-- /masks -->
</section>

<!-- loading  -->
<%- include('../../../../../unit/common/widget/pintuan/muiLoading/muiLoading.html') %>

<script type="text/javascript" src="/mpt_static/libs/zepto.min.js"></script>
</body>
</html>