<!DOCTYPE html>
<html>
<head>
    <%- include('../../../../../unit/layout/header.html') %>
    <title>实时中奖名单</title>
</head>
<body>
	<%- include('../../../../../demo/mpt/group/unit/item-title-1.html', {rulename:'活动规则'}) %>
	<input type="hidden" id="app_share_conf">
	<section class="container">
		<section class="winner-list-cont" id="J_winner-list-cont">
			<div class="group-list J_group-list">
		    	<div class="winner-list-title">
					<div class="col-2">用户昵称</div>
					<div class="col-2">参团时间</div>
				</div>
				<ul class="dropdown-box J_dropdown-box"></ul>
				<div class="has-more J_has-more J_log" data-block="has_more">
		        	<span>查看更多</span>
		    		<i class="icon-down"></i>
		        </div>				
			</div>
		</section>	
	</section>
	<!-- 大家都在团 -->
	<section id="J_nav_menu" class="nav_menu"></section>
	<section id="J_container-mores"></section>
	<!-- loading  -->
	<%- include('../../../../../unit/common/widget/pintuan/muiLoading/muiLoading.html') %>

    <script type="text/javascript" src="/mpt_static/libs/zepto.min.js"></script>
</body>
</html>
