<!DOCTYPE html>
<html>
<head>
	<%- include('../../../../../unit/layout/header.html') %>
	<title>每日抽奖</title>
</head>
<body>
    <input type="hidden" id="app_share_conf">
	<section id="J_one-cent" class="one-cent">
	    <div class="title-line"></div>
	    <div class="title-line line2"></div>
	    <div class="title">
	        <span class="row1">仅需1分钱</span><br>
	        <span class="row2">ONLY ONE CENT</span>
	    </div>
	</section>
    <section class="notice-container" id="J_noticeContainer"></section>
    <section class="container" id="J_container"></section>
    <%- include('../../../../../unit/common/widget/pintuan/muiLoading/muiLoading.html') %>

	<script type="text/javascript" src="/mpt_static/libs/zepto.min.js"></script>
</body>
</html>