<!DOCTYPE html>
<html>

<head>
    <%- include('../../../../../../unit/layout/header.html') %>
    <title>0元伙拼</title>
</head>

<body>
    <!-- 内容容器 -->
    <section class="page-container J_page hidden">
        <!-- 导航 -->
        <section class="addr-container">
            <div class="addr-head">
                <span>如果中奖了，是否配送到以下地址</span>
                <a href="javascript:;" class="J_set-address">切换地址</a>
            </div>
            <div class="addr-body">
                <div class="J_addr-info addr-info">
                </div>
                <div class="no-addr J_no-addr hidden">
                    <p>亲，暂无你的收货地址！
                        <br/>东东将无法寄到你的手中，请点击“切换地址”哦！
                    </p>
                </div>
            </div>
        </section>
        <!-- footer -->
        <section class="foot-bar">
            <a class=" btn-apply unable J_btn-apply">确认</a>
        </section>
    </section>

    <%- include('../../../../../../unit/common/widget/pintuan/muiLoading/muiLoading.html') %>

    <!-- 地址模板 -->
    <script type="text/template" id="T_addr-info">
        <p class="user"><em>${name}</em>${mobile}</p>
        <p class="addr">${province}${city}${area}${address}</p>
    </script>

    <script type="text/javascript" src="/mpt_static/libs/zepto.min.js"></script>
</body>

</html>
