<!DOCTYPE html>
<html>
<head>
    <%- include ../../../../../../unit/layout/header.html %>
    <title>9块9包邮</title>
</head>
<body>
    <section class="J_tabContainer m-tab-container"></section>
    <section class="eff-cont">
        <div class="no-item-tip J_noItemTip">
            <div class="back"></div>
            <p>没有拼团商品呢</p>
            <p>拼团可得更多优惠哦～</p>
            <a href="/gaea_pt/mpt/group/channel.html">
                逛逛今日热团
            </a>
        </div>
        <section class="group-list-cont J_groupListCont">
            <!-- 精选 -->
            <ul class="J_groupList mores"></ul>
            <!-- 9.9 -->
            <ul class="J_groupList mores"></ul>
            <!-- 19.9 -->
            <ul class="J_groupList mores"></ul>
        </section>
        <div class="spinner J_spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </section>
    <%- include('../../../../../../unit/common/widget/pintuan/muiLoading/muiLoading.html') %>

    <!-- gaea preload start -->
    <%- include('../../../../common/gaea/preload.html',{
        id: 'getFreeshipFromGaea',
        url: 'http://sapi.beibei.com/fightgroup/nine_freeship/1-40-choice.html'
    })%>
    <!-- gaea preload end -->

    <script type="text/javascript" src="/mpt_static/libs/zepto.min.js"></script>
</body>
</html>
