<!DOCTYPE html>
<html>
<head>
    <%- include('../../../../../unit/layout/header.html') %>
    <title>贝贝拼团</title>
</head>
<body>
    <section class="tab-container">
        <nav class="tab-wrapper">
            <a class="tab J_tab active">综合</a>
            <a class="tab J_tab">价格
                <i class="triangle-up"></i>
                <i class="triangle-down"></i>
            </a>
            <a class="tab J_tab">销量</a>
            <a class="tab" id="J_filter">筛选
                <i class="line-vertical"></i>
                <i class="arrow-down"></i>
            </a>
        </nav>
    </section>
    <section class="list-container" id="J_list-container">
        <ul class="item-list" id="J_item-list"></ul>
        <div class="spinner" id="J_spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </section>
    <section class="filter-layer hidden" id="J_filter-layer">
        <div class="filter-options" id="J_filter-options"></div>
        <div class="filter-btns">
            <span class="btn" id="J_empty">重置</span>
            <span class="btn" id="J_submit">完成</span>
        </div>
    </section>
    <%- include('../../../../../unit/common/widget/pintuan/muiLoading/muiLoading.html') %>

    <script type="text/javascript" src="/mpt_static/libs/zepto.min.js"></script>
</body>
</html>
