<!DOCTYPE html>
<html>
<head>
	<%- include('../../../../../../unit/layout/header.html') %>
    <title>0元伙拼</title>
</head>
<body>
	<section>
		<div id="J_container-details" class="m-detail-cont"></div>

		<div id="J_container-btns"></div>

		<div id="J_container-ads" class="m-ads-cont"></div>
	</section>
	<section id="J_nav_menu">
	</section>
	<section id="J_container-mores">
	</section>
	<section>
		<div id="J_container-steps" class="m-step-cont"></div>

		<div class="m-enter">
			<a class="J_log" href="/gaea_pt/mpt/group/channel.html" data-block="more_group_beibei">贝贝拼团</a>
			|
			<a class="J_log" href="/mpt/group/i.html" data-block="check_order">我的拼团</a>
		</div>
		<div id="J_container-masks"></div>

		<div id="J_sku-mask"></div>
	</section>
	<div id="J_popup-mask" class="mask hidden">
		<div class="popup-prop">
			<p class="content"></p> 
			<div class="popup-btns">
				<a href="javascript:;" class="J_btn-cancel">取消</a>
				<a href="javascript:;" class="J_btn-confirm">我去开团</a>
			</div>
		</div>
	</div>
	<!-- loading -->
	<%- include('../../../../../../unit/common/widget/pintuan/muiLoading/muiLoading.html') %>
	<input type="hidden" id="app_share_conf">
	<script type="text/javascript" src="/mpt_static/libs/zepto.min.js"></script>
</body>
</html>