<!DOCTYPE html>
<html>

<head>
    <%- include('../../../../../../unit/layout/header.html') %>
    <title>0元伙拼</title>
</head>

<body>
    <input id="app_share_conf" type="hidden" value='{ "platform": "qq_qzone_weixin_timeline_weibo_copy",
           "title": "【0元伙拼】加入伙拼战队，与队友齐心协力一起向榜单冲刺！",
           "comment": "【众人拾柴火焰高】一起0元伙拼，占据伙拼榜单的top3战队即可获得奖品！赶快加入伙拼战队吧！",
           "image": "http://h0.hucdn.com/open/201620/1463732877_65fb6a0901caab59_100x100.png",
           "url": "http://m.beibei.com/mpt/group/duobao/index.html" }'>

    <!--头部banner-->
    <section class="banner J_log" id="J_banner" data-block="查看规则">
        <img src="//h0.hucdn.com/open/201637/c4fef4e3ede825a3_750x150.png" alt="banner">
    </section>
    <!--商品列表-->
    <section class="item-list" id="J_item-list"></section>
    <!--伙拼规则-->
    <div class="rule-popup popup-ani hidden" id="J_rule-popup">
        <div class="rule-inner">
            <h2>伙拼规则</h2>
            <ul>
                <li> ①发起0元伙拼，壮大战队，结束后人数最多的前三名获得奖品。每位用户可发起一次战队并参与一支战队；</li>
                <li> ②前三名战队奖品数量比为5:3:2，其中前三名战队的团长必中奖品，剩余奖品随机抽取各队团员中；</li>
                <li> ③若存在人数一样的战队，则以最后一名参团用户的加入时间为准，加入越早排名越高；</li>
                <li> ④战队名称为用户在贝贝内的昵称；</li>
                <li> ⑤本页面商品为无偿赠与非买卖，不接受消费者无理由退货退款申请；</li>
                <li> ⑥如有任何问题，请咨询贝贝客服。</li>
            </ul>
            <div class="btn-know" id="J_btn-know">我知道了</div>
        </div>
    </div>
    <!--底部导航-->
    <%- include('../../../../../../unit/common/widget/pintuan/duobao/footer/footer.html', {tabIndex: 0}) %>
    <!-- loading  -->
    <%- include('../../../../../../unit/common/widget/pintuan/muiLoading/muiLoading.html') %>

    <!-- @T template -->
    <script type="text/template" id="T_item-list">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {@each list as item, index}
                <a class="swiper-slide swiper-lazy itemAds J_log" href=${item.link} data-iid=${item.iid} data-position=${index}>
                    <div class="img-cnt">
                        <img src=${item.img} />
                    </div>
                    <div class="info-cnt{@if item.status == 0} next{@/if}">
                        <i class="pro-icon"></i>
                        <p class="pro-title"><span>【限量${item.try_stock}件】</span>&nbsp;${item.title}</p>
                        <p class="pro-mess">
                            <span>价值:&yen;${item.value}</span>
                            <span>已有${item.join_num}人{@if item.status == 0}关注{@else if item.status == 1}伙拼{@/if}</span>
                        </p>
                        <p class="pro-countdown">
                            <i class="clock"></i>
                            <span class="text"><span class="lottery-countdown J_countdown" data=${item.delay}>
                            {@if item.status == 0}${item.begin}</span>后开抢
                            {@else if item.status == 1}${item.end}</span>后结束
                            {@/if}
                            </span>
                        </p>
                    </div>

                </a>
                {@/each}
            </div>
        </div>
        <div class="swiper-pagination{@if list.length < 2} hidden{@/if}"></div>
    </script>

    <script type="text/javascript" src="/mpt_static/libs/zepto.min.js"></script>
</body>

</html>
