<!DOCTYPE html>
<html>

<head>
    <%- include('../../../../../../unit/layout/header.html') %>
    <title>限时秒杀</title>
</head>
<body>
    <section id="J_container"></section>
    <%- include('../../../../../../unit/common/widget/pintuan/muiLoading/muiLoading.html') %>
    <input id="app_share_conf" type="hidden" value='{"title":"【贝贝拼团】来贝贝拼团，一起秒杀超值商品","desc":"超值爆款，整点秒杀，数量有限，先到先抢~！","comment":"超值爆款，整点秒杀，数量有限，先到先抢~！","image":"http://h0.hucdn.com/open/201620/1463732877_65fb6a0901caab59_100x100.png","url":"http://m.beibei.com/mpt/group/party/seckill.html","platform":"weixin","callback":"shareCallBack()"}'>
    <script type="text/javascript" src="/mpt_static/libs/zepto.min.js"></script>
</body>
</html>
